<div id="login-form">

  <!--ngForm contains the validation for entire form-->
  <form #loginForm="ngForm" id="user_login_form">

    <!--ALERT-->
    <!--Alert user if user enter a invalid username or wrong password-->
    <div class="alert alert-danger" role="alert" id="user_login_invalid" *ngIf="showInvalidMsg">
      {{errorMessage}}
    </div>

    <div class="alert alert-warning" id="user_login_invalid">
      <span>please log in with username</span>
    </div>
    <!--USERNAME-->
    <div class="form-group" id="login_username">
      <label>USERNAME</label><br/>
      <input type="text" #username="ngModel"
      class="form-control" [class.is-invalid]="username.invalid && username.touched || showInvalidMsg"
      id="login-username" name="login-username" required
      [(ngModel)]="loginModel.username">
      <!--Error message for invalid username input-->
      <div *ngIf="username.errors && (username.invalid || username.touched)" [class.d-none]="username.valid || username.untouched">
        <small class="text-danger" *ngIf="username.errors.required">Username is required</small>
      </div>
    </div>

    <!--PASSWORD-->
    <div class="form-group" id="login_password">
      <label>PASSWORD</label><br/>
      <input type="password" #pwd="ngModel"
      class="form-control" [class.is-invalid]="pwd.invalid && pwd.touched || showInvalidMsg"
      id="login-pwd" name="login-pwd" required
      [(ngModel)]="loginModel.pwd">
      <!--Error message for invalid password input-->
      <div *ngIf="pwd.errors && (pwd.invalid || pwd.touched)" [class.d-none]="pwd.valid || pwd.untouched">
        <small class="text-danger" *ngIf="pwd.errors.required">Password is required</small>
      </div>
    </div>

    <!--LOGIN BUTTON-->
    <div id="login_btn">
      <button [disabled]="loginForm.form.invalid" class="btn btn-primary" (click)="checkUserValide()">LOG IN</button>
    </div>
    
  </form>
</div>
