<div class="ui middle aligned grid MAINFRAME">
    <div class="column">
        <div class="ui placeholder segment">
            <div class="ui two column very relaxed stackable grid">
                <div class="column">
                    <app-registration></app-registration>
                </div>
                <div class="middle aligned column">
                    <app-login></app-login>
                </div>
            </div>
            <div class="ui vertical divider">
                Or
            </div>
        </div>
    </div>
</div>


