
#registration_btn {
    height: 100%;
    float: left;
    margin-bottom: 30%;
}

#clear_btn {
    height: 100%;
    float: left;
    margin-left: 10%;
}

/**/
.REGISTRATION_TITLE {
    width: 50%;
    height: 100%;
    margin-left: 8%;
}

.REGISTRATION_TITLE .form-group {
    margin-top: 1px;
    margin-bottom: 4%;
}

.REGISTRATION_TITLE label {
    margin-bottom: 1%;
    font-size: 1.3em;
}

.REGISTRATION_TITLE small {
    font-size: 1em;
}