<div>
    <form #registForm="ngForm" class="ui form"> <!--We have the reference of ngForm by assign the variable name #registForm-->

        <!-- Registration status -->
        <div class="field">
            <div *ngIf="registStatus" class="ui positive message">
                <div class="header">DING!</div>
                <p>Welcome {{userModel.name}}!</p>                
            </div>
        </div>

        <div class="field">
            <div *ngIf="duplicateUser" class="ui negative message">
                <div class="header">ERROR!</div>
                <p>Duplicate user!</p>                
            </div>
        </div>

        <!-- ACCOUNT NAME -->
        <div [ngClass]="name.errors && (name.invalid && name.touched) > 0 ? 'field error' : 'field'">
            <label>USERNAME *</label>
            <input type="text" name="account" required
                [(ngModel)]="userModel.name"
                #name="ngModel"/>
        </div>

        <!-- DISPLAY NAME -->
        <div class="field">
            <label>DISPLAY NAME</label>
            <input type="text" name="display"
                [(ngModel)]="userModel.display"/>
        </div>
        
        <!-- EMAIL ADDRESS -->
        <div [ngClass]="email.errors && (email.invalid && email.touched) > 0 ? 'field error' : 'field'">
            <label>EMIAL ADDRESS *</label>
            <input type="email" name="email" required
                [(ngModel)]="userModel.email"
                placeholder="username@ricebook.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                #email="ngModel"/>
        </div>
        <!-- Handle mismatch email addres -->
        <div class="field">
            <div *ngIf="email.errors && email.touched">
                <div *ngIf="email.errors.pattern">
                    <div class="ui small negative message">
                        <p>Invalid email address</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- PHONE NUMBER -->
        <div [ngClass]="phone.errors && (phone.invalid && phone.touched) > 0 ? 'field error' : 'field'">
            <label>PHONE NUMBER *</label>
            <input type="text" name="phone" required
                [(ngModel)]="userModel.phone"
                placeholder="000-000-0000" pattern="\d{3}[\-]\d{3}[\-]\d{4}"
                #phone="ngModel"/>
        </div>
        <!-- Handle mismatch phone number -->
        <div class="field">
            <div *ngIf="phone.errors && phone.touched">
                <div *ngIf="phone.errors.pattern">
                    <div class="ui small negative message">
                        <p>Invalid phone number</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- DATE OF BIRTH -->
        <div class="field">
            <label>DATE OF BIRTH *</label>
            <input type="date" name="birth" required
                [(ngModel)]="userModel.birth"
                #date="ngModel"/>
        </div>

        <!-- ZIPCODE -->
        <div [ngClass]="zipcode.errors && (zipcode.invalid && zipcode.touched) > 0 ? 'field error' : 'field'">
            <label>ZIPCODE *</label>
            <input type="text" name="zipcode" required
                [(ngModel)]="userModel.zipcode"
                placeholder="77030" pattern="\d{5}"
                #zipcode="ngModel"/>
        </div>
        <!-- Handle mismatch phone number -->
        <div class="field">
            <div *ngIf="zipcode.errors && zipcode.touched">
                <div *ngIf="zipcode.errors.pattern">
                    <div class="ui small negative message">
                        <p>Invalid zipcode</p>
                    </div>
                </div>
            </div>
        </div>

        <!--PASSWORD-->
        <div [ngClass]="pwd.errors && (pwd.invalid && pwd.touched) > 0 ? 'field error' : 'field'">
            <label>PASSWORD *</label>
            <input type="password" name="pwd" required
                [(ngModel)]="userModel.pwd"
                #pwd="ngModel"/>
        </div>
        
        <!--
            User input confirm password field
            Check for password validation
            And check password matching with confirm password
            Create a new directive named pwdValidator to test password match
        -->
        <!-- CONFIRM PASSWORD -->
        <div [ngClass]="repwd.errors && (repwd.invalid && repwd.touched) > 0 ? 'field error' : 'field'">
            <label>CONFIRM PASSWORD *</label>
            <input type="password" name="repwd" required
                [(ngModel)]="userModel.repwd" pwdValidator="pwd"
                #repwd="ngModel"/>
        </div>
        <div class="field">
            <div *ngIf="repwd.touched && repwd.errors?.notEqual">
                <div class="ui negative small message">
                    <p>Password and confirm password does not match</p>
                </div> 
            </div>
        </div>

        <!-- Registration button -->
        <div class="field">
            <button class="ui right floated button" (click)="registerClear()">CLEAR</button>
            <button class="ui left floated positive button" [disabled]="registForm.form.invalid" (click)="registSuccess()">REGISTER</button>
        </div>
        
    </form>
</div>
