<div class="main_mainframe">

  <div class="app_headline">
    <div class="app_navi">
      <div class="web_name">
        <span>RiceBook</span>
      </div>
    
      <div class="web_logo">
        <img src="./assets/img/logo.png">
      </div>
    
      <div class="search_bar">
        <textarea placeholder="Search" [(ngModel)]="search"></textarea>
      </div>
    
      <div class="search_btn">
        <button class="btn btn-default" (click)="onSearchClick()" *ngIf="searchOn">Search</button>
        <button class="btn btn-default" (click)="onClearSearch()" *ngIf="searchOff">Clear</button>
      </div>
    
      <div class="user_profile">
        <span routerLink="/profile">Profile</span>
      </div>
    
      <div class="user_logout">
        <span routerLink="/" (click)="Logout()">Logout</span>
      </div>
    </div>
  </div>

  <div class="main_headline">
    <app-headline (addNewPost)="postListEvent($event)"></app-headline>
  </div>
 

  <div class="postpart">
  <!-- Test div for posts
    <div *ngFor="let post of postList">
      <span style="color:white">{{post.title}}</span>
    </div>
  -->
    <app-posts class="main_posts_module" [postList]="postList"></app-posts>
    <app-following class="main_following_module" (PostListEvent)="postListEvent($event)"></app-following>
  </div> 
</div>
