.main_posts_post {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.posts_post_title_time {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #D5D5D5;
    text-align: center;
}

.posts_post_title_time span {
    margin-left: 5%;
    font-size: 130%;
}

.posts_post_img_article {
    width: 90%;
    height: auto;
    margin: auto;
}

/*Field for post img*/
.posts_post_img {
    width: 40%;
    height: auto;
    float: left;
}

.posts_post_img img {
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*Field for post article*/
.posts_post_article {
    width: 55%;
    height: auto;
    float: right;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: sans-serif;
}

.posts_post_article span {
    font-size: 1.5em;
}

.posts_post_module {
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
    margin-bottom: 1%;
}
.posts_post {
    width: 100%;
    height: 5%;
}

.posts_btns {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #D5D5D5;
}

.posts_btns button {
    float: right;
    margin-right: 3%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.postComment {
    width: 100%;
    font-size: 130%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.postComment span {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
}

.postComment #comment_comment {
    width: auto;
    margin-left: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 7px;
    background-color: #D5D5D5;
}

.postComment #comment_username {
    font-weight: bold;
}